[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/thread-pool"]
	path = dependencies/thread-pool
	url = https://github.com/bshoshany/thread-pool
[submodule "dependencies/hopscotch-map"]
	path = dependencies/hopscotch-map
	url = https://github.com/Tessil/hopscotch-map
[submodule "dependencies/SQLiteCpp"]
	path = dependencies/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "dependencies/BlazeFS"]
	path = dependencies/BlazeFS
	url = https://github.com/Bolderaysky/BlazeFS
[submodule "dependencies/glaze"]
	path = dependencies/glaze
	url = https://github.com/stephenberry/glaze
